html, body, header {
  height: 100%;
}

.title {
  padding: 20px;
}

.orginal {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  height: 400px;
  width: 490px;
  margin: auto;
}

.pic {
  padding-right: 10px !important;
  padding-bottom: 10px;
}

.canv {
  padding-left: 10px !important;
  padding-bottom: 10px;
}

.canvas {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  height: 400px;
  width: 490px;
  margin: auto;
}

#replica {
  background-color: #C7D4D8;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);*/
}

#evolve {
  padding: 10px 50px;
}

#menu .btn {
  padding: 10px 20px;
}

#menu {
  padding-bottom: 20px;
}

#button {
  padding: 20px;
}

#evo-report-button {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.table-sm td, .table-sm th {
    padding: .5rem !important;
}

@media screen and (max-width: 1280px) {
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;

  }
  canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .col {
    width: 100%;
  }

  .pic {
    padding-right: 0px !important;
    padding-bottom: 20px;
  }

  .canv {
    padding-left: 0px !important;
    padding-bottom: 10px;
  }
}
