html, body, header {
  height: 100%;
}

.title {
  padding: 20px;
}

.orginal {
  padding: 10px;
  float:right;
}

.canvas {
  padding: 10px;
  float:left;
}

#replica {
  background-color: black;
}

#evolve {
  padding: 10px 50px;
}

#menu .btn {
  padding: 10px 20px;
}
